// app global css in SCSS form
.rounded-b-0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.rounded-b-md{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.rounded-t-md{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: $primary;
}

.rounded-sm{
    border-radius: $small-border-radius;
}
.rounded-md{
    border-radius: $generic-border-radius;
}
.rounded-md-important{
    border-radius: $generic-border-radius !important;
}
.rounded-t{
  border-top-left-radius: $generic-border-radius;
  border-top-right-radius: $generic-border-radius;
}
.q-pa-none-important{
    padding: 0 !important;
}

.border-sm{
    border-width: 1px;
    border-style: solid;
}
.border-md{
    border-width: 2px;
    border-style: solid;
}
.border-lg{
    border-width: 3px;
    border-style: solid;
}

.border-positive{
    border-color: $positive;
}

.text-white-transparent1{
    color: $white-transparent1;
}

.animation-delay-1{
    animation-delay: 250ms
}
.animation-delay-2{
    animation-delay: 500ms
}
.animation-delay-3{
    animation-delay: 750ms
}
.animation-fast{
    animation-duration: 200ms
}
.animation-slow{
    animation-duration: 700ms
}
.animation-slower{
    animation-duration: 2000ms
}

.max-two-lines{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}