// app global css in SCSS form
.rounded-b-0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.rounded-b-md{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: $primary;
}

.rounded-sm{
    border-radius: $small-border-radius;
}
.rounded-md{
    border-radius: $generic-border-radius;
}

.border-sm{
    border-width: 1px;
    border-style: solid;
}
.border-md{
    border-width: 2px;
    border-style: solid;
}
.border-lg{
    border-width: 3px;
    border-style: solid;
}

.border-positive{
    border-color: $positive;
}
