$transition-time   : 0.2s;
$transition-time-bonus   : 0.21s;
$transition-delay-to: 50ms;
$transition-timing-function: 'linear';

.page-slide-in-enter-active,
.page-slide-in-leave-active {
  transition: $transition-time ;
  transition-timing-function: $transition-timing-function;
  width: 100%;
  position: fixed;
  z-index: 1001;
}
.page-slide-in-enter-active{
  transition: $transition-time-bonus;
}
.page-slide-in-enter-from {
  transform: translateY(100vh);
  box-shadow: 0px 0px 10px 0px #0000004a;
}
.page-slide-in-enter-to {
  transform: translateY(0vh);
  box-shadow: 0px 0px 10px 0px #0000004a;
}
.page-slide-in-leave-from {
  transform: translateY(0vh);
  z-index: 1000;
}
.page-slide-in-leave-to {
  transform: translateY(20vh);
}

.page-slide-out-enter-active,
.page-slide-out-leave-active {
  transition: $transition-time ;
  transition-timing-function: $transition-timing-function;
  position: fixed;
  width: 100%;
}
.page-slide-out-enter-active{
  transition: $transition-time-bonus;
}
.page-slide-out-leave-active{
  z-index: 2501
}
.page-slide-out-enter-from {
  transform: translateY(20vh);
}
.page-slide-out-enter-to {
  transform: translateY(0vh);
}
.page-slide-out-leave-from {
  transform: translateY(0vh);
  box-shadow: 0px 0px 10px 0px #0000004a;
}
.page-slide-out-leave-to {
  transform: translateY(100vh);
  box-shadow: 0px 0px 10px 0px #0000004a;
}


.page-slide-left-enter-active,
.page-slide-left-leave-active {
  transition: $transition-time ;
  transition-timing-function: $transition-timing-function;
  position: fixed;
  width: 100%;
}
.page-slide-left-enter-active{
  transition: $transition-time-bonus;
  transition-delay: $transition-delay-to;
}
.page-slide-left-leave-active{
  z-index: 2501
}
.page-slide-left-enter-from {
  transform: translateX(-100vw);
}
.page-slide-left-enter-to {
  transform: translateX(0vw);
}
.page-slide-left-leave-from {
  transform: translateX(0vw);
}
.page-slide-left-leave-to {
  transform: translateX(100vw);
}


.page-slide-right-enter-active,
.page-slide-right-leave-active {
  transition: $transition-time ;
  transition-timing-function: $transition-timing-function;
  position: fixed;
  width: 100%;
}
.page-slide-right-enter-active{
  transition: $transition-time-bonus;
  transition-delay: $transition-delay-to;
}
.page-slide-right-leave-active{
  z-index: 2501
}
.page-slide-right-enter-from {
  transform: translateX(100vw);
}
.page-slide-right-enter-to {
  transform: translateX(0vw);
}
.page-slide-right-leave-from {
  transform: translateX(0vw);
}
.page-slide-right-leave-to {
  transform: translateX(-100vw);
}


.page-slide-in-bottombar-enter-active,
.page-slide-in-bottombar-leave-active {
  transition: $transition-time ;
  transition-timing-function: $transition-timing-function;
  transition-delay: 100ms;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.page-slide-in-bottombar-enter-active{
  transition: $transition-time-bonus ;
}
.page-slide-in-bottombar-enter-from {
  transform: translateY(0vh) !important;
  box-shadow: 0px 0px 10px 0px #0000004a;
}
.page-slide-in-bottombar-enter-to {
  transform: translateY(20vh) !important;
}
.page-slide-in-bottombar-leave-from {
  transform: translateY(0vh) !important;
}
.page-slide-in-bottombar-leave-to {
  transform: translateY(20vh) !important;
}
