// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@use "sass:map";


$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$white-transparent1: #ffffff5c;

$generic-border-radius : 20px;
$extra-small-border-radius: 7px;
$small-border-radius : 10px;
$huge-border-radius : 20px;
$button-border-radius  : 12px;


$gradient-positive: linear-gradient(to top right, #1c9137, #21BA45);
$gradient-blue: linear-gradient(to top right, #1970bb, #1e88e5);
$gradient-green: linear-gradient(to top right, #1c9137, #21BA45);
$gradient-orange: linear-gradient(to top right, #ca7900, #ff9800);
$gradient-purple: linear-gradient(to top right, #334192, #3f51b5);
$gradient-red: linear-gradient(to top right, #c2382e, #f44336);
$gradient-light-blue: linear-gradient(to top right, #0386c2, #03a9f4);
$gradient-indigo: linear-gradient(to top right, #2e3a81, #3f51b5);

$light-gradient-positive: linear-gradient(to top right, #21BA45, #31e65b);
$light-gradient-blue: linear-gradient(to top right, #1e88e5, #439ceb);
$light-gradient-orange: linear-gradient(to top right, #ff9800, #ffb03a);
$light-gradient-purple: linear-gradient(to top right, #3f51b5, #5d71e6);
$light-gradient-red: linear-gradient(to top right, #f44336, #f56d63);
$light-gradient-light-blue: linear-gradient(to top right, #03a9f4, #3cbefa);
$light-gradient-indigo: linear-gradient(to top right, #3f51b5, #5f72e2);


