// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@use "sass:map";

/*

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$secondary : #f08700; //Tangerine


$primary   : #0F4DA8;

$secondary : #FFA900;
*/


$primary   : #5d06e9;
$primary-light: #8f50f6;
$secondary : #ff8c00;
$secondary-light : #ffaa43;
$accent    : #FFC700;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$primary-dark   : #3c0399;
// RESOURCES

$energy: #21BA45;
$terralit: #0045a8;
$isonit: #00d75e;
$science: #df1bf6;


$typography-font-family: "Nunito";

$white-transparent1: #ffffff5c;
$white-transparent2: #ffffff23;
$dark-transparent: #00000025;
$dark-transparent-50: #00000050;

$generic-border-radius : 20px;
$extra-small-border-radius: 7px;
$small-border-radius : 12px;
$normal-border-radius : 15px;
$huge-border-radius : 20px;
$button-border-radius  : 12px;


$gradient-primary: linear-gradient(to top right, $primary, $primary-light);
$gradient-secondary: linear-gradient(to top right, $secondary, $secondary-light);
$gradient-positive: linear-gradient(to top right, #1c9137, #21BA45);
$gradient-blue: linear-gradient(to top right, #1970bb, #1e88e5);
$gradient-green: linear-gradient(to top right, #1c9137, #21BA45);
$gradient-orange: linear-gradient(to top right, #ca7900, #ff9800);
$gradient-purple: linear-gradient(to top right, #334192, #3f51b5);
$gradient-red: linear-gradient(to top right, #c2382e, #f44336);
$gradient-light-blue: linear-gradient(to top right, #0386c2, #03a9f4);
$gradient-indigo: linear-gradient(to top right, #2e3a81, #3f51b5);
$gradient-dark-purple: linear-gradient(to top right, #331342, #8c1111);
$gradient-pink: linear-gradient(to top right, #9b10aa, #df1bf6);

$gradient-terralit: linear-gradient(to top right, #013074, #0045a8);
$gradient-isonit: linear-gradient(to top right, #025e2a, #008339);
$gradient-science: linear-gradient(to top right, #9b10aa, #df1bf6);

$light-gradient-primary: linear-gradient(to top right, $primary, $primary-light);
$light-gradient-secondary: linear-gradient(to top right, #1c9137, #21BA45);
$light-gradient-positive: linear-gradient(to top right, #21BA45, #31e65b);
$light-gradient-green: linear-gradient(to top right, #21BA45, #31e65b);
$light-gradient-blue: linear-gradient(to top right, #1e88e5, #439ceb);
$light-gradient-orange: linear-gradient(to top right, #ff9800, #ffb03a);
$light-gradient-purple: linear-gradient(to top right, #3f51b5, #5d71e6);
$light-gradient-red: linear-gradient(to top right, #f44336, #f56d63);
$light-gradient-light-blue: linear-gradient(to top right, #03a9f4, #3cbefa);
$light-gradient-indigo: linear-gradient(to top right, #3f51b5, #5f72e2);

$light-gradient-terralit: linear-gradient(to top right, #0e60d4, #478cec);
$light-gradient-isonit: linear-gradient(to top right, #04a349, #06d660);
$light-gradient-science: linear-gradient(to top right, #df1bf6, #e257f1);


$light-gradient-orange-to-top: linear-gradient(to top, #ff9800, #ffb03a);
$light-gradient-orange-to-right: linear-gradient(to right, #ff9800, #ffb03a);
$light-gradient-positive-to-right: linear-gradient(to right, #21BA45, #31e65b);
$light-gradient-primary-to-right: linear-gradient(to right, $primary, $primary-light);
$light-gradient-blue-to-right: linear-gradient(to right, #1e88e5, #439ceb);


$dark-gradient-dark-purple: linear-gradient(to top right, #1a0a22, #5a0c0c);
$dark-gradient-pink: linear-gradient(to top right, #690b74, #a314b3);
$dark-gradient-blue: linear-gradient(to top right, #104472, #1767ad);
$dark-gradient-green: linear-gradient(to top right, #0f4e1e, #188a33);
$dark-gradient-primary: linear-gradient(to top right, $primary-dark, $primary);

$app-background-gradient-primary: linear-gradient(to top, #101f4f, #3365a6, #101f4f);
